<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<button id="update">Update all items' dates</button>
		<script>
			import { parse } from "superjson";

			const btn = document.querySelector("#update");
			btn?.addEventListener("click", () => {
				fetch("/api/updatedates", {
					method: "GET",
				})
					.then((res) => res.text())
					.then((res) => alert(parse(res)));
			});
		</script>
	</body>
</html>
